---
import SkillItem from "./SkillItem.astro";
import CssIcon from "./icons/Css.astro";
import Github from "./icons/Github.astro";
import ReactJsIcon from "./icons/ReactJsIcon.astro";
import HtmlIcon from "./icons/HtmlIcon.astro";
import JsIcon from "./icons/JsIcon.astro";
import PhpIcon from "./icons/PhpIcon.astro";
import DatabaseIcon from "./icons/DatabaseIcon.astro";
import GitIcon from "./icons/GitIcon.astro";
import NodeIcon from "./icons/NodeIcon.astro";

const SKILLS = [
    {
        src: "https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/html5-colored.svg" ,
        href: "https://developer.mozilla.org/en-US/docs/Glossary/HTML5",
        name: "HTML5",
    },
    {
        src: "https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/css3-colored.svg" ,
        href: "https://www.w3.org/TR/CSS/#css",
        name: "CSS3",
    },
    {
        src: "https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/javascript-colored.svg" ,
        href: "https://developer.mozilla.org/en-US/docs/Web/JavaScript",
        name: "JavaScript",
    },
    {
        src: "https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/react-colored.svg" ,
        href: "https://reactjs.org/",
        name: "ReactJS",
    },
    {
        src: "https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/git-colored.svg" ,
        href: "https://git-scm.com/",
        name: "Git",
    },
    {
        src: "https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/php-colored.svg" ,
        href: "https://www.php.net/",
        name: "PHP",
    },
    {
        src: "https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/nodejs-colored.svg" ,
        href: "https://nodejs.org/en/",
        name: "NodeJS",
    },
    {
        src: "https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/mongodb-colored.svg" ,
        href: "https://www.mongodb.com/",
        name: "MongoDB",
    },
    {
        src: "https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/mysql-colored.svg" ,
        href: "https://www.mysql.com/",
        name: "MySQL",
    },
    {
        src: "https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/express-colored.svg" ,
        href: "https://expressjs.com/",
        name: "Express",
    },
    {
        src: "https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/docker-colored.svg" ,
        href: "https://www.docker.com/",
        name: "Docker",
    },
    {
        src: "https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/wordpress-colored.svg" ,
        href: "https://wordpress.com",
        name: "Wordpress",
    },
    {
        src: "https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/socials/github.svg" ,
        href: "https://github.com/",
        name: "Github",
    },
    {
        src: "https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/figma-colored.svg" ,
        href: "https://www.figma.com/",
        name: "Figma",
    },
    {
        src: "https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/tailwindcss-colored.svg" ,
        href: "https://tailwindcss.com/",
        name: "TailwindCSS",
    },
    {
        src: "https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/sass-colored.svg" ,
        href: "https://sass-lang.com/",
        name: "Sass",
    },
    {
        src: "https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/bootstrap-colored.svg" ,
        href: "https://getbootstrap.com/",
        name: "Bootstrap",
    },
    {
        src: "https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/illustrator-colored.svg" ,
        href: "https://www.adobe.com/uk/products/illustrator.html",
        name: "Illustrator",
    },
    {
        src: "https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/photoshop-colored.svg" ,
        href: "https://www.adobe.com/uk/products/photoshop.html",
        name: "Photoshop",
    },
    {
        src: "https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/vite-colored.svg" ,
        href: "https://vitejs.dev/",
        name: "Vite",
    },
    {
        src: "https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/visualstudiocode.svg" ,
        href: "https://code.visualstudio.com/",
        name: "VS Code",
    }
  
];
---

<ol class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-4 grid-flow-row gap-4 ">
    {
        SKILLS.map((skill) => (
            <li class="mb-10 ms-4">
                <SkillItem {...skill} />
            </li>
        ))
    }
</ol>
